@import "@/css/utilities.css";
@import "@/css/form.css";

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--pageBg);
    font-family: var(--quicksand, "Quicksand", serif);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}
