@import "tailwindcss";

body {
    @apply text-gray-700 bg-white dark:bg-gray-800 dark:text-white;
}

button {
    @apply cursor-pointer;
}

a {
    @apply hover:underline;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@layer components {
    .container-7xl {
        @apply max-w-7xl px-3 mx-auto;
    }

    .btn-1,
    .btn-2 {
        @apply duration-300 ease-in-out;
    }

    .btn-1 {
        @apply bg-rose-400 text-white hover:bg-rose-500;
    }

    .btn-2 {
        @apply bg-white border border-gray-300 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700;
    }
}

@utility hidden-onscroll {
    animation: hidden-onscroll auto linear forwards;
    animation-timeline: --page-scroll;
}

@utility block-onscroll {
    animation: block-onscroll auto linear forwards;
    animation-timeline: --page-scroll;
}

@utility shadow-onscroll {
    animation: shadow-onscroll auto linear forwards;
    animation-timeline: --page-scroll;
}


@layer utilities {
    html {
        scroll-timeline: --page-scroll block;
    }

    @keyframes hidden-onscroll {

        0.1%,
        100% {
            display: none;
        }
    }

    @keyframes block-onscroll {
        0% {
            display: none;
        }

        0.1%,
        100% {
            display: block;
        }
    }

    @keyframes shadow-onscroll {

        0.1%,
        100% {
            --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
        }
    }
}